
#map{
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.marker-pin {
    width: 40px;
    height: 40px;
    border-radius: 50% 50% 50% 0;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
}

.marker-pin::after {
    content: '';
    width: 34px;
    height: 34px;
    margin: 3px 0 0 3px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
}

.custom-div-icon img {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    right: 0;
    margin: 29px 12.5px;
    text-align: center;
}

.custom-div-icon span {
    position: absolute;
    width: 25px;
    font-size: 25px;
    left: 0;
    right: 0;
    margin: 17px 18px;
    top: 4px;
    text-align: center;
}

.target{
    font-size: 1.5em;
    margin-top: 2px;
}

.map-info {
    background-color: white !important;
    font-size: large;
    font-weight: bold;
    padding: 5px;
}

.legend {
    line-height: 18px;
    color: #555;
    background-color: white !important;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    color: white;
}